/* .main-block-wrapper {
  display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 182, 193, 0.5);
} */

.products-main-wrapper {
  display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 182, 193, 0.5);
}
