// $trash-bin-image: "../../../assets/trash-bin.svg";

@mixin product-page-text{
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", monospace;
  font-weight: 600;
  font-size: 18px;
  max-width: 100%;
  text-wrap: wrap;
  margin: 0%;
}

.main-block-wrapper {
	flex-direction: column;
	align-items: center;
	position: relative;
  border: 1px solid rgb(18, 18, 18);
	border-radius: 10px;
	box-shadow: 2px 5px 5px rgb(111, 111, 111);
  border-style: solid;
  width: 15vw;
  height: 20vw;
  max-height: 20vw;
  overflow: hidden;
  margin: 20px 10px 0 20px;
	padding: 10px 10px 20px 10px;
} 

.image-wrapper{
  display: flex;
	width: 100%;
	height: 60%;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
}

.image{
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.info-wrapper{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
  padding-top: 10px;
}

.description-wrapper{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
  padding-top: 10px;
  overflow: hidden;
}

.name-text-font{
  @include product-page-text;
}

.title-text-font{
  @include product-page-text;
  font-weight: 600;
  font-size: 16px;
  white-space: pre;
}

.material-text-font{
  @include product-page-text;
  font-weight: 400;
  font-size: 16px;
  margin-right: 20px;
}

.price-text-font{
  @include product-page-text;
  font-weight: 400;
  font-size: 16px;
}

.description-text-font{
  @include product-page-text;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.has-gradient::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(255, 255, 255, 1));
}

.trash-bin-button{
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  // border: 1px solid #ccc;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.trash-bin-button:hover {
  color: red;
  // fill: red
}


// .like-button{

// }